body {
    color: rgb(128, 0, 32);
    background: #0c0b0c;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(128, 0, 32);
    padding: 20px;
    font-size: 32px;
    color: rgb(128, 0, 32);
}

.chamada {
    background: hsl(277, 48%, 13%);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(0, 0, 0);
}

.categoria h2 {
    color: rgb(128, 0, 32);
}

.categoria h3 {
    color: rgb(128, 0, 32);
}